<section id="about" class="container-fluid vh-100 d-flex flex-column flex-md-row align-items-center justify-content-center position-relative overflow-hidden">
  <div class="about-body d-flex flex-column flex-md-row align-items-center justify-content-center">
    <!-- Founder Image -->
    <div class="founder-image position-relative me-md-5 mb-4 mb-md-0">
      <img [src]="'images/founder.png'" alt="Harsh Chauhan" class="img-fluid rounded-circle shadow founder-img h-auto" style="max-width: 14rem;" />
    </div>

    <!-- About Content -->
    <div class="about-content text-center text-md-start">
      <h2 class="mb-4 display-5 poppins-font bold">About Me</h2>
      <p class="lead about-text poppins-font normal mx-auto mx-md-0" style="max-width: 600px;">
        I'm Harsh, the eye behind <strong>The Focused Voyage</strong> — capturing stories that speak through stillness, light, and wild moments.
      </p>
      <!-- Scroll Cue -->
      <div class="scroll-down-about position-absolute  start-50 translate-middle-x mb-5 d-flex flex-column align-items-center" (click)="scrollToGallery()" role="button">
        <i class="bi bi-chevron-double-down scroll-icon"></i>
      </div>
    </div>
  </div>
</section>