<section class="hero-section d-flex flex-column justify-content-center align-items-center vh-100 text-center position-relative">

  <!-- Tagline -->
  <div id="tagline" class="tagline pt-4 my-4 px-2 text-center text-light fs-6 fw-light lh-sm poppins-font thin d-md-block d-none">
    <span class="tag-word text-color">Where </span>
    <span class="tag-word text-color">every </span>
    <span class="tag-word text-color">frame </span>
    <span class="tag-word text-color">tells </span>
    <span class="tag-word text-color">a </span>
    <span class="tag-word text-color">story</span>
  </div>

  <!-- Scroll Cue -->
  <div class="scroll-down pt-4 pt-md-0 mt-4 mt-md-2 d-flex flex-column align-items-center text-color cursor-pointer" role="button" (click)="scrollToAbout()">
    <i class="bi bi-chevron-double-down scroll-icon mt-1"></i>
  </div>
</section>
