// Importing theme variables
@use './dark-theme-variables.scss';
@use './light-theme-variables.scss';

// Importing Bootstrap custom variables
@use './bootstrap-custom-variables.scss';

// Applying theme variables to the body
    body {
      background-color: var(--primary-background);
      color: var(--primary-text);
    }
    
    .backrgound-color {
      background-color: var(--primary-background);
    }

    .text-color {
      color: var(--primary-text);
    }

    .text-color-secondary {
       color: var(--text-300);
    }