<div class="gallery-card text-white flex-shrink-0">
  <div class="gallery-card-inner">
    <div class="text-mask-window" data-mask-root>
      <svg class="text-mask-svg" viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
        <defs>
          <mask [attr.id]="'tfv-text-mask-' + (card?.dataTarget ? card.dataTarget : card?.title)" maskUnits="userSpaceOnUse">
            <rect x="0" y="0" width="1000" height="1000" fill="black"/>
            <!-- Make text occupy ~80% of the SVG width consistently on all devices -->
            <text x="50%" y="50%"
                  dominant-baseline="middle"
                  alignment-baseline="middle"
                  dy=".1em"
                  text-anchor="middle"
                  lengthAdjust="spacingAndGlyphs"
                  textLength="1000"
                  font-size="1000"
                  fill="white"
                  class="mask-svg-text">{{card?.title}}</text>
          </mask>
        </defs>
        <g [attr.mask]="card?.dataTarget ? 'url(#tfv-text-mask-' + card.dataTarget + ')' : 'url(#tfv-text-mask-' + card?.title + ')'" data-mask-images>
          @if (card?.images?.length) {
            @for (img of card.images; track $index) {
              <image class="mask-slide" [attr.href]="img" x="0" y="0" width="1000" height="1000" preserveAspectRatio="xMidYMid slice" />
            }
          } @else {
            <image class="mask-slide" [attr.href]="card?.image" x="0" y="0" width="1000" height="1000" preserveAspectRatio="xMidYMid slice" />
            <image class="mask-slide" [attr.href]="card?.image" x="0" y="0" width="1000" height="1000" preserveAspectRatio="xMidYMid slice" />
            <image class="mask-slide" [attr.href]="card?.image" x="0" y="0" width="1000" height="1000" preserveAspectRatio="xMidYMid slice" />
            <image class="mask-slide" [attr.href]="card?.image" x="0" y="0" width="1000" height="1000" preserveAspectRatio="xMidYMid slice" />
          }
        </g>
      </svg>
    </div>

    <div class="overlay-center">
      <div class="gallery-scroll-arrow d-flex justify-content-center custom-arrow"
           [attr.data-target]="card?.dataTarget" role="button" tabindex="0" aria-label="Next">
        @if (!card?.lastCategory) {
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="custom-arrow-icon">
            <path fill-rule="evenodd" d="M6.646 12.354a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"/>
          </svg>
        } @else {
          <i class="bi bi-chevron-double-down scroll-icon"></i>
        }
      </div>
    </div>
  </div>
</div>
