<div class="gallery-card text-white flex-shrink-0">
  <div class="gallery-card-inner">
    <div class="coverflow" data-coverflow-root>
      @if (card?.images?.length) {
        @for (img of card.images; track $index) {
          <div class="cover-slide" [attr.data-i]="$index" [style.backgroundImage]="'url(' + img + ')'" aria-hidden="true"></div>
        }
      } @else {
        <div class="cover-slide" [style.backgroundImage]="'url(' + card?.image + ')'" aria-hidden="true"></div>
        <div class="cover-slide" [style.backgroundImage]="'url(' + card?.image + ')'" aria-hidden="true"></div>
        <div class="cover-slide" [style.backgroundImage]="'url(' + card?.image + ')'" aria-hidden="true"></div>
        <div class="cover-slide" [style.backgroundImage]="'url(' + card?.image + ')'" aria-hidden="true"></div>
      }
    </div>

    <div class="overlay-center">
      <h1 class="poppins-font thin text-color section-title m-0">{{card?.title}}</h1>
      <div class="gallery-scroll-arrow d-flex justify-content-center custom-arrow"
           [attr.data-target]="card?.dataTarget" role="button" tabindex="0" aria-label="Next">
        @if (!card?.lastCategory) {
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="custom-arrow-icon">
            <path fill-rule="evenodd" d="M6.646 12.354a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"/>
          </svg>
        } @else {
          <i class="bi bi-chevron-double-down scroll-icon"></i>
        }
      </div>
    </div>
  </div>
</div>
